<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="loggedInNav (username)">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/img/logo2.jpg" alt="WoWMania" height="40">
            </a>
            <div class="d-flex align-items-center text-white">
                <span class="me-3" th:if="${username != null}">Welcome, <strong th:text="${username}">User</strong>!</span>
                <a class="btn btn-outline-light ms-2" href="/profile">Profile</a>
                <a class="btn btn-outline-light ms-2" href="/mailbox">Mailbox</a>
                <a class="btn btn-outline-light ms-2" href="/cart" style="margin-right:.5rem">Cart</a>
                <form th:action="@{/logout}" method="post" class="d-inline">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <button type="submit" class="btn btn-outline-light">Log Out</button>
                </form>
            </div>
        </div>
    </nav>
</th:block>
</html>
